#custom-tabs .nav-tabs li > a {
    font-family: "Raleway" !important;
    letter-spacing: 0.5px;
    font-weight: 400 !important; 
    color: #797979 !important;
    font-family: 'Raleway';}
  
#custom-tabs .nav-tabs li.active > a {
    font-family: "Raleway" !important;
    letter-spacing: 0.5px;
    font-weight: 600 !important; 
    color: #797979 !important;
    font-family: 'Raleway';}