.ax_default {
  font-family: 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: #CCCCCC;
  text-align: center;
  line-height: normal; }

.refier_custom_tagline {
  font-family: 'Ubuntu Condensed', 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  color: #E0E3F3;
  text-align: left; }

.refier_custom_tagline_481 {
  font-family: 'Ubuntu Condensed', 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  color: #E0E3F3;
  text-align: left; }

.refier_custom_text_on_dark_h1 {
  font-family: 'Ubuntu Medium', 'Ubuntu Regular', 'Ubuntu';
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  color: #EDEEF5;
  text-align: center; }

.refier_custom_text_on_dark_h1_481 {
  font-family: 'Ubuntu Medium', 'Ubuntu Regular', 'Ubuntu';
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  color: #EDEEF5;
  text-align: center; }

.refier_custom_text_on_light_h2 {
  font-family: 'Oswald Bold', 'Oswald Regular', 'Oswald';
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: #6573C3;
  text-align: center; }

.refier_custom_text_on_light_h2_481 {
  font-family: 'Oswald Bold', 'Oswald Regular', 'Oswald';
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #6573C3;
  text-align: center; }

.refier_custom_text_on_light_h3 {
  font-family: 'Oswald Light', 'Oswald Regular', 'Oswald';
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  color: #000000;
  text-align: center; }

.refier_custom_text_footer_copyright {
  font-family: 'Oswald';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #CCCCCC;
  text-align: center; }

.refier_custom_text_on_light_h3_481 {
  font-family: 'Oswald Light', 'Oswald Regular', 'Oswald';
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  color: #000000;
  text-align: center; }

.refier_custom_text_on_light_h5 {
  font-family: 'Ubuntu Condensed', 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #999999;
  text-align: left; }

.refier_text_on_light_1 {
  font-family: 'Ubuntu Condensed', 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #000000;
  text-align: left; }

.refier_text_on_light__2 {
  font-family: 'Ubuntu Condensed', 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #CCCCCC;
  text-align: left; }

.refier_text_on_light__8 {
  font-family: 'Ubuntu Condensed', 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #42565B;
  text-align: left; }

.refier_text_on_light__5 {
  font-family: 'Ubuntu Condensed', 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #CCCCCC;
  text-align: left; }

.refier_text_on_dark_8 {
  font-family: 'Ubuntu Condensed', 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #F2F2F2;
  text-align: left; }

.refier_custom_text_on_light_h5_481 {
  font-family: 'Ubuntu Condensed', 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #EDEEF5;
  text-align: left; }

.refier_custom_text_on_light_p_italic {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  color: #999999;
  text-align: left; }

.refier_custom_text_on_light_p_italic_481 {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  color: #999999;
  text-align: left; }

.refier_custom_text_on_light_p_not_titalic {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #999999;
  text-align: left; }

.refier_custom_text_on_light_p_not_titalic481 {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #999999;
  text-align: left; }

.refier_custom_image {
  font-size: 13px;
  color: #000000; }

.refier_static_message_mobile {
  font-family: 'Ubuntu Condensed', 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  color: #FFFFFF;
  text-align: left; }

.refier_static_message_mobile_481 {
  font-family: 'Ubuntu Condensed', 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: #FFFFFF;
  text-align: left; }

.refier_static_site_options_mobile {
  font-family: 'Century Gothic Bold', 'Century Gothic';
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  color: #DBF0F9;
  text-align: center; }

.refier_static_site_title_box {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #DBE8E9;
  text-align: center; }

.refier_static_site_title_box1 {
  font-family: 'Oswald Medium', 'Oswald Regular', 'Oswald';
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: #EDEEF5;
  text-align: center;
  line-height: normal; }

.refier_static_site_title_box1_481 {
  font-family: 'Oswald Medium', 'Oswald Regular', 'Oswald';
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  color: #EDEEF5;
  text-align: center;
  line-height: normal; }

.refier_static_site_title_box_selected {
  font-family: 'Oswald Medium', 'Oswald Regular', 'Oswald';
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: #EDEEF5;
  text-align: center;
  line-height: normal; }

.refier_custom_circle {
  color: #6573C3; }

.refier_custome_option_selected {
  font-family: 'Ubuntu Condensed', 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center; }

.refier_custome_option_selected_481 {
  font-family: 'Ubuntu Condensed', 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center; }

.refier_custome_option_not_selected {
  font-family: 'Ubuntu Condensed', 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #CCCCCC;
  text-align: center; }

.refier_custome_option_not_selected_481 {
  font-family: 'Ubuntu Condensed', 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #CCCCCC;
  text-align: center; }

.refier_custom_card {
  font-size: 14px;
  color: #CCCCCC; }

.refier_custom_card_on_dark {
  font-size: 14px;
  color: #CCCCCC; }

.refier_custom_dark_card {
  font-size: 14px;
  color: #CCCCCC; }

.refier_custom_edit_text_background {
  font-size: 14px;
  color: #CCCCCC; }

.refier_custom_card_on_dark_background {
  font-size: 14px;
  color: #CCCCCC; }

.refier_custom_paragraph {
  font-family: 'Ubuntu Medium', 'Ubuntu Regular', 'Ubuntu';
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: #999999;
  text-align: left;
  line-height: 20px; }

.refier_custom_paragraph2 {
  font-family: 'Ubuntu Condensed', 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #999999;
  text-align: left;
  line-height: 16px; }

.refier_custom_paragraph3 {
  font-family: 'Ubuntu Condensed', 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #999999;
  text-align: center;
  line-height: 20px; }

.refier_custom_button {
  color: #FFFFFF; }

.refier_home_button_1 {
  font-family: 'Ubuntu Condensed Bold', 'Ubuntu Condensed', 'Ubuntu';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  color: #FFFFFF; }

.refier_home_button1_481 {
  font-family: 'Ubuntu Condensed Bold', 'Ubuntu Condensed', 'Ubuntu';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  color: #FFFFFF; }

.refier_home_button_3 {
  font-family: 'Ubuntu Condensed', 'Ubuntu';
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  color: #FFFFFF; }

.refier_home_button_2 {
  font-family: 'Ubuntu Condensed', 'Ubuntu';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  color: #FFFFFF; }

.refier_home_button2_481 {
  font-family: 'Ubuntu Condensed Bold', 'Ubuntu Condensed', 'Ubuntu';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  color: #FFFFFF; }

.refier_custom_selected_button {
  font-family: 'Ubuntu Condensed', 'Ubuntu';
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  color: #6573C3;
  text-align: left; }

.refier_custom_not_selected_button {
  font-family: 'Ubuntu Condensed', 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #CCCCCC;
  text-align: left; }

.refier_custom_edit_text {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #FFFFFF;
  text-align: left; }

.refier_custom_form_text_head {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #000000;
  text-align: left; }

.refier_custom_form_text_head_481 {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #000000;
  text-align: left; }

.refier_custom_form_text_edit {
  font-size: 14px;
  color: #CCCCCC;
  text-align: left; }

.refier_custom_form_text_edit_481 {
  font-size: 18px;
  color: #999999;
  text-align: left; }

.refier_custom_edit_text_boundary {
  font-size: 14px; }

.refier_custom_tab_not_selected {
  font-family: 'Ubuntu Condensed', 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #F2F2F2;
  text-align: left; }

.refier_custom_items_side_bar {
  font-family: 'Oswald Medium', 'Oswald Regular', 'Oswald';
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: #CCCCCC;
  text-align: left; }

.refier_custom_sub_items_side_bar {
  font-family: 'Oswald Medium', 'Oswald Regular', 'Oswald';
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  color: #CCCCCC;
  text-align: left; }

.refier_custom_items_side_bar_selected {
  font-family: 'Oswald Medium', 'Oswald Regular', 'Oswald';
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: #CCCCCC;
  text-align: left; }

.refier_name_on_header {
  font-family: 'Ubuntu Medium', 'Ubuntu Regular', 'Ubuntu';
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: #42565B;
  text-align: left; }

.refier_custom_item_hover_text {
  font-family: 'Ubuntu Condensed', 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  color: #FFFFFF;
  text-align: center; }

.refier_custom_dark_panel_title {
  font-family: 'Ubuntu Bold', 'Ubuntu Regular', 'Ubuntu';
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: #EDEEF5;
  text-align: center; }

.refier_custom_dark_panel_title1 {
  font-family: 'Ubuntu Medium', 'Ubuntu Regular', 'Ubuntu';
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #CCCCCC;
  text-align: center; }

.primary_button {
  color: #FFFFFF; }

.link_button {
  color: #169BD5; }

.heading_1 {
  font-family: 'Arial';
  font-weight: bold;
  font-style: normal;
  font-size: 32px;
  text-align: left; }

.heading_2 {
  font-family: 'Arial';
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  text-align: left; }

.heading_3 {
  font-family: 'Arial Bold', 'Arial';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  text-align: left; }

.heading_4 {
  font-family: 'Arial';
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  text-align: left; }

.heading_5 {
  font-family: 'Arial';
  font-weight: bold;
  font-style: normal;
  text-align: left; }

.heading_6 {
  font-family: 'Arial';
  font-weight: bold;
  font-style: normal;
  font-size: 10px;
  text-align: left; }

.paragraph {
  text-align: left; }

.text_field {
  color: #000000;
  text-align: left; }

.text_area {
  color: #000000;
  text-align: left; }

.droplist {
  color: #000000;
  text-align: left; }

.marker {
  color: #FFFFFF; }

.image1 {
  font-size: 13px;
  color: #000000; }

.label {
  font-size: 14px;
  text-align: left; }

.android_flat_button {
  font-size: 14px;
  color: #169BD5; }

.hint {
  color: #999999; }

.android_title_text_light {
  font-size: 20px;
  color: #FFFFFF; }

.paragraph1 {
  font-size: 14px;
  text-align: left;
  line-height: 20px; }

.text_field1 {
  font-size: 14px;
  color: #000000;
  text-align: left; }

.shape1 {
  font-size: 13px;
  color: #000000; }

.refier_custom_form_text_edit_header {
  font-size: 14px;
  color: #999999;
  text-align: left; }

.refier-request-card {
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 10px 0 10px 0; }
